<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-banner">
    <h1>About Sangita Education & Technology Foundation</h1>
</div>

<div class="about-container">

    <div class="about-card">
        <h2>🎯 Who We Are</h2>
        <p>
            Sangita Education & Technology Foundation is dedicated to
            skill development, internships, certifications and career growth.
        </p>
    </div>

    <div class="about-card">
        <h2>🚀 Our Mission</h2>
        <p>
            To provide affordable quality education and placement-oriented training.
        </p>
    </div>

    <div class="about-card">
        <h2>🏆 Why Choose Us?</h2>

        <ul>
            <li>Industry Oriented Training</li>
            <li>Live Projects</li>
            <li>Internship Programs</li>
            <li>Certificate Verification</li>
            <li>Placement Assistance</li>
        </ul>
    </div>


</div>

</div>

</body>
</html>