<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <style>

    .forgot-link{
        display:block;
        text-align:right;
        margin-top:10px;
        text-decoration:none;
        color:#2563eb;
        font-weight:bold;
    }

    .forgot-link:hover{
        text-decoration:underline;
    }

    </style>

</head>
<body>

<div class="form-container">

    <h2>Admin Login</h2>

    <form action="/admin_login" method="POST">

        <input type="text"
               name="username"
               placeholder="Username"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <button type="submit">
            Login
        </button>

    </form>

    <a href="/forgot_admin" class="forgot-link">
        Forgot Password?
    </a>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>