<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="page-banner">
    <h1>☎ Contact Us</h1>
</div>

<div class="about-container">

    <div class="about-card">

        <h2>SANGITA EDUCATION & TECHNOLOGY FOUNDATION</h2>

        <p>📞 Mobile: +91 7488275559</p>

        <p>📧 Email: sangitaeducation@gmail.com</p>

        <p>📍 Address: Bihar, India</p>

        <p>
            Skill Development | Internship | Certification
        </p>

        <a href="https://wa.me/917488275559"
           target="_blank"
           class="contact-btn">
           Chat on WhatsApp
        </a>

    </div>

</div>

</body>
</html>