<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-banner">
    <h1>Available Courses</h1>
</div>

<div class="course-grid">

    <div class="course-card">
        <h2>🎓 10th Pass Courses</h2>

        <ul>
            <li>Computer Basic</li>
            <li>Data Entry</li>
            <li>MS Excel</li>
            <li>Drawing & Painting</li>
        </ul>
    </div>

    <div class="course-card">
        <h2>📚 12th Pass Courses</h2>

        <ul>
            <li>MS Word</li>
            <li>MS Excel</li>
            <li>MS PowerPoint</li>
            <li>DCA</li>
            <li>ADCA</li>
        </ul>
    </div>

    <div class="course-card">
        <h2>💻 Graduation / B.Tech</h2>

        <ul>
            <li>C Programming</li>
            <li>C++</li>
            <li>Python</li>
            <li>Java</li>
            <li>Cloud Computing</li>
            <li>Data Science</li>
            <li>Data Analytics</li>
            <li>Generative AI</li>
            <li>Frontend Developer</li>
            <li>Backend Developer</li>
            <li>AI & ML</li>
        </ul>
    </div>

</div>

</body>
</html>