<!DOCTYPE html>
<html>
<head>
    <title>Internship</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="page-banner">
    <h1>Internship Programs</h1>
</div>

<div class="course-grid">

    <div class="course-card">
        <h2>💻 Software Development</h2>

        <ul>
            <li>Python Internship</li>
            <li>Java Internship</li>
            <li>Web Development Internship</li>
        </ul>
    </div>

    <div class="course-card">
        <h2>📊 Data & AI</h2>

        <ul>
            <li>Data Analytics</li>
            <li>Data Science</li>
            <li>Artificial Intelligence</li>
            <li>Machine Learning</li>
        </ul>
    </div>

    <div class="course-card">
        <h2>🎁 Internship Benefits</h2>

        <ul>
            <li>Internship Certificate</li>
            <li>Live Projects</li>
            <li>Resume Building</li>
            <li>Placement Assistance</li>
        </ul>
    </div>

</div>

</body>
</html>