<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="form-container">

<h2>Student Login</h2>

<form action="/student_login" method="POST">

    <input type="email"
           name="email"
           placeholder="Enter Email"
           required>

    <button type="submit">
        Login
    </button>

</form>

</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>